@{
    @model Manifest;
    int totalPage = 0;
    string cams = "";
    if (Model != null && Model.choosenDateInfo != null && Model.choosenDateInfo.Count() > 0 && int.Parse(Model.choosenDateInfo[0].total_photos) % 2 > 0)
    {
        totalPage = int.Parse(Model.choosenDateInfo[0].total_photos) / 25;
        int addAPage = 0;
        if(int.Parse(Model.choosenDateInfo[0].total_photos) % 2 > 0)
        {
            addAPage++;
        };
        totalPage = totalPage + addAPage;
    }
    else
    {
        if (Model != null && Model.choosenDateInfo != null && Model.choosenDateInfo.Count() > 0)
        {
            totalPage = int.Parse(Model.choosenDateInfo[0].total_photos) / 25;
            int addAPage = 0;
            if(int.Parse(Model.choosenDateInfo[0].total_photos) % 2 > 0)
            {
                addAPage++;
            };
            totalPage = totalPage + addAPage;
        }
    }
    if (Model != null  && Model.choosenDateInfo != null && Model.choosenDateInfo.Count() > 0)
    {
        foreach (var cam in Model.choosenDateInfo[0].cameras)
        {
            cams += cam + ", ";
        }
        cams = cams.TrimEnd(' ');
        cams = cams.TrimEnd(',');
    }
}

<div class="card" style="width: 40rem; margin:2%">
    <div class="card-body">
        <h5 class="card-title">Manifest Information</h5>
        @if (@Model != null)
        {
            <div class="row">
                <div class="col-3">
                    <label><b>Rover Name:</b> @Model.photo_manifest.name </label>
                </div>
                <div class="col-3">
                    <label><b>Landing Date:</b> @Model.photo_manifest.landing_date.Value.ToShortDateString() </label>
                </div>
                <div class="col-3">
                    <label><b>Launch Date:</b> @Model.photo_manifest.launch_date.Value.ToShortDateString() </label>
                </div>
                <div class="col-3">
                    <label><b>Status:</b> @Model.photo_manifest.status </label>
                </div>
                <div class="col-3">
                    <label><b>Max SOl:</b> @String.Format("{0:n0}", int.Parse(@Model.photo_manifest.max_sol)) </label>
                </div>
                <div class="col-3">
                    <label><b>Max Date:</b> @Model.photo_manifest.max_date.Value.ToShortDateString() </label>
                </div>
                @if (Model != null && Model.choosenDateInfo != null && Model.choosenDateInfo.Count() > 0)
                {
                    <div class="col-3">
                        <label><b>Number Of Photos for Selected Day: </b>@String.Format("{0:n0}", Model.choosenDateInfo[0].total_photos) </label>
                    </div>
                    <div class="col-3">
                        <b>Cameras in Use: </b>

                        <label id="camsAvaiManiAndDate">@cams</label>
                    </div>
                    <div class="col-3">
                        <label><b>Total Pages: </b>@String.Format("{0:n0}", totalPage) </label>
                    </div>
                }
            </div>
        }
    </div>
</div>




